.ProductView {
  width: 1250;
  height: 390px;
  margin: 30px;

  display: flex;
}
.list-images {
  width: 100px;
  height: 390px;

  margin: 0 15px 0 15px;
  overflow: scroll;
}
.image-enlarge {
  width: 390px;
  height: 390px;

  position: relative;
  border: 1px solid rgb(139, 136, 136);
}
.discription {
  width: 490px;
  height: 390px;
  padding-left: 30px;
}
.quntity {
  display: flex;
  transform: translateX(30%);
  margin-top: 30px;
}

.quntity > button {
  border: none;
  height: 20px;
  width: 20px;
  background-color: white;
}

.quntity > button:hover {
  cursor: pointer;
}
.cart-btn {
  width: 200px;
  height: 40px;
  font-weight: bolder;
  border-radius: 25px 25px 25px 25px;
  position: absolute;
  bottom: 10px;
  left: 35px;
  border: none;
  color: rgb(253, 255, 253);
  background-color: rgb(22, 108, 29);
}
.cart-btn:hover {
  cursor: pointer;
}
.mini-cart {
  width: 280px;
  height: 315px;
  border: 1px solid rgb(64, 60, 60);
  position: relative;
  
}
.img-parts {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-parts > img {
  width: 65px;
  height: 65px;
  margin: 5px;
}
ul {
  padding: 0;
}
.image-enlarge > img {
  height: inherit;
  width: inherit;
}
.image-enlarge > h3 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  background-color: rgb(30, 30, 228);
  color: aliceblue;
  padding: 0 10px 5px;
  border-bottom-right-radius: 15px;
}
.ProductView > p h2 h3 {
  margin-left: 10px;
}
.bottom-offers{

    display: flex;
    justify-content: space-around;
}
.left,.right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;


}
.left >p,.right >p{
padding-left: 40px;
}

.list-images>ul>li>img{
  width: 100%;
  height: 100%;
}
.list-images>ul>li>:hover{
  border:1px solid black;
}